<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.multicalculadora">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MultiCalculadora">
        <activity
            android:name=".SuperficiePantalla"
            android:exported="false" />
        <activity
            android:name=".PresionArterial"
            android:exported="false" />
        <activity
            android:name=".PantallaHombre"
            android:exported="false" />
        <activity
            android:name=".Mujer"
            android:exported="false" />
        <activity
            android:name=".FChombre"
            android:exported="false" />
        <activity
            android:name=".FrecuenciaMax"
            android:exported="false" />
        <activity
            android:name=".PantallaIMC"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>